h1 {
  font-family: "Creepster", cursive;
  color: red;
  font-size: 5.2vh;
  text-shadow: 2px 1px 2px black;
  padding-bottom: 15px;
}
h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Creepster", cursive;
  color: red;
  font-size: 3.7vh;
  text-shadow: 2px 2px 2.5px black;
}
.paragraph {
  padding-top: 15px;
}

.hellcircus {
  font-family: "Creepster", cursive;
  color: rgb(15, 14, 14);
  font-size: 3vh;
}
.evilcircus {
  font-family: "Creepster", cursive;
  color: rgb(15, 14, 14);
  font-size: 3vh;
}
.killerclown {
  font-family: "Butcherman", cursive;
  font-size: 3.2vh;
  color: rgb(92, 0, 0);
}
.killed {
  font-family: "Nosifer", cursive;
  color: rgb(158, 7, 7);
  font-size: 3.2vh;
}
.monsters {
  font-family: "Eater", cursive;
  font-size: 3.5vh;
}
